# the usual suspects
.trash/
.DS_Store

# desktop workspace cache
.obsidian/workspace.json

# mobile workspace cache
.obsidian/workspace-mobile.json

# community plugins directory (why tf does gitignore not support negation easily)
.obsidian/plugins/**
!/.obsidian/plugins/obsidian-git/
/.obsidian/plugins/obsidian-git/*
!/.obsidian/plugins/obsidian-git/data.json